*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.flow{
    width: 100vw;
    overflow: hidden;
}
.slider{
    width: 200vw;
    transition: transform ease 0.5s
}
.panel{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.slide-to-data-cap{
    transform: translateX(-50%);
}
.button{
    position: absolute;
    bottom: 50px;
    right: -50%;
    width: 50%;
    border: 0;
    background: #333;
    color: #fff;
    font-size: 24px;
    padding: 2% 0;
    transition: right ease 0.5s;
}
.visible{
    right: 0;
}
.data-cap{
    background: #333;
    color: #fff;
    overflow: scroll;
}
.container{
    width: 90%;
    padding: 5%;
    height: 100vh;
}
.data-cap > img{
    width: 100%;
    margin-bottom: 5%;
}
.links{
    text-align: center;
}
.links li{
    display: inline-block;
    padding: 5%;
    width: 15%;
}
.links img{
    width: 100%;
}
input[type=text], input[type=submit]{
    width: 96%;
    padding: 2%;
    border: 0;
    margin-bottom: 5%;
    border-radius: 2%;
}
input[type=submit]{
    width: 100% !important;
    background-color: #eee;
    color: #333;
}